<div class="favorites-wrapper">
  <h2>お気に入りサウナ</h2>

  <div class="favorites-card">
    <% if @favorites.any? %>
      <ul class="list-unstyled">
        <% @favorites.each do |favorite| %>
          <li class="favorite-item">
            <%= link_to favorite.sauna.name, sauna_path(favorite.sauna) %>
            <%= link_to "解除", favorite_path(favorite), method: :delete, class: "favorite-remove-btn" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center text-white">お気に入りはまだ登録されていません。</p>
    <% end %>
  </div>
</div>
