<div class="container mt-4">
  <h2><%= @user.name %> さんの投稿一覧</h2>

  <% if @posts.any? %>
    <div class="row g-4">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="post-item-card">
            <p class="card-text"><%= simple_format(post.post) %></p>
            <p class="text-muted small">
              <i class="bi bi-geo-alt"></i> <%= link_to post.sauna.name, sauna_path(post.sauna) %><br>
              <i class="bi bi-calendar-event"></i> <%= post.created_at.strftime("%Y-%m-%d") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>まだ投稿がありません。</p>
  <% end %>
</div>
