<div class="what_is_totonou-overlay text-center">
  <h1 class="mb-4">整うとは？</h1>
  <p class="lead">
    サウナ・水風呂・外気浴を繰り返すことで訪れる深いリラックスと覚醒の調和した状態。<br>  
    脳と身体がスッと静まり、まるで生まれ変わったような感覚を味わえる瞬間。
  </p>

  <h2 class="mt-5">アプリの使い方<i class="bi bi-fire" style="font-size: 2rem;"></i></h2>

  <p class="mt-4">
    このアプリでは、サウナを訪れた際の記録や、行ってみたいサウナのお気に入り登録ができます。<br>
    また、ユーザーの投稿情報によりサウナの混雑度を確認したり、<br>
    モラルページにてサウナにおける適切な行動をセルフチェックできます。<br>
    「今この瞬間」に集中し、自分自身をリセット。<br>
    日々の喧騒から離れ、心を整える時間を。ぜひあなたもサウナの世界へ。
  </p>

  <div class="cta-buttons mt-4 text-center">
   <%= link_to "ログイン", new_user_session_path, class: "btn custom-btn" %>
   <%= link_to "新規登録", new_user_registration_path, class: "btn custom-btn" %>
  </div>
</div>
