<div class="header">
  <div class="logo-area">
    <%= image_tag "app_logo.png", alt: "SaunaApp ロゴ", class: "logo" %>
  </div>

  <div class="nav-buttons">
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
</div>
